.table{
display: dark;
text-align: center;
}

.DisplayItem {
    text-align: center;


}

.image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;  
}

.bold {
    font-weight: bold;


}

