.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #423f3f;
}

/*TODO: prevent text wrap when screen size decreases*/
.logo-name {
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
  color: #d52929;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: rgb(185, 175, 175);
}

.search-button {
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #d52929;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button {
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #060607;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #862222;
}

.logo {
  width: 4rem;
  border-radius: 5%;
}
