body {
  background-color: rgb(239, 234, 234);
  text-align: center;
}

.dawg-eats-logo {
  width: 300px;
}

#login-title {
  font-size: 30px;
}

.login {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background: #fff;
  border-radius: 15px;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

p {
  text-align: center;
}

input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button {
  background-color: #d52929;
  border: white;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: auto;
  display: inline;
}

h1 {
  text-align: center;
}

.buttonca {
  background-color: rgb(61, 95, 180);
  border: white;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline;
}
